<!-- Pricing Table -->
<div class="container">
  <div class="row">
    <h1>Pricing Table</h1>
    <hr>
    <div class="col-lg-3 col-sm-6">
      <div class="panel panel-default panel-success"> 
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3>Free</h3>
        </div>
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>Lorem ipsum dolor sit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1 ......</th>
            </tr>
            <tr>
              <th scope="row">2 ......</th>
            </tr>
            <tr>
              <th scope="row">3 ......</th>
            </tr>
            <tr>
              <th scope="row"><p class="text-center"><a href="" class="btn-success btn"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Buy Now</a></p></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="panel panel-default panel-warning"> 
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3>Basic</h3>
        </div>
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>Lorem ipsum dolor sit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1 ......</th>
            </tr>
            <tr>
              <th scope="row">2 ......</th>
            </tr>
            <tr>
              <th scope="row">3 ......</th>
            </tr>
            <tr>
              <th scope="row"><p class="text-center"><a href="" class="btn-warning btn"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Buy Now</a></p>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="panel panel-default panel-info"> 
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3>Professional</h3>
        </div>
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>Lorem ipsum dolor sit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1 ......</th>
            </tr>
            <tr>
              <th scope="row">2 ......</th>
            </tr>
            <tr>
              <th scope="row">3 ......</th>
            </tr>
            <tr>
              <th scope="row"><p class="text-center"><a href="" class="btn-info btn"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Buy Now</a></p></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="panel panel-default panel-danger"> 
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3>Enterprise</h3>
        </div>
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>Lorem ipsum dolor sit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1 ......</th>
            </tr>
            <tr>
              <th scope="row">2 ......</th>
            </tr>
            <tr>
              <th scope="row">3 ......</th>
            </tr>
            <tr>
              <th scope="row"><p class="text-center"><a href="" class="btn-danger btn"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Buy Now</a></p></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
